.container{
    width: 95%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #5088b8;
    overflow: hidden;
    box-shadow: #5088b8 0px 0px 3px 0px;
    border-radius: 20px;
    padding: 30px 20px;
}

.container::before{
    content: "";
    position: absolute;
    top: -80%;
    right: -50%;
    width: 100%;
    height: 200%;
    background: linear-gradient(90deg,transparent, #5088b88c);
    transform: rotate(-40deg);
}

.form__title{
    color: #5088b8;
}

.form__input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #f0f0f0;
    padding: 6px 0;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

.form__inputs.active .form__input{
    border-color: #5088b8;
}

.form__input input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}

.form__label{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.form__inputs.active .form__label{
    top: 0%;
    transform: translateY(-100%);
    font-size: .8rem;
    color: #5088b8;

}

.form__inputs.active .form__input i{
    color: #5088b8;
}